.About-section{
    background-color: #EBFDFF;
    
}
.about{
    padding: 210px 0;
}
.about li{
    font-size: 24px;
    padding: 10px 0;
    color: brown;
}
.aboutli a{
        color: blue;
}
.about h1{
    font-size: 70px;
    font-family: 'Jost', sans-serif;
    margin-top: 20px;
}
.about-Contant{
    margin: 95px 0;
}

.about-paragrap{
    margin: 20% 20px;
}
.about-paragrap h4{
    font-size: 30px;
    padding: 0 20px;
    color: black;
    font-weight: 600;
    margin-left: 20px;
    font-family: 'Jost', sans-serif;
}
.about-paragrap p{
    margin-left: 20px;
    font-size: 16px;
    padding: 10px 0;
    font-size: 400;
    width: 550px;

}




.about-img img{
    width: 100%;
}
.content-about-f{
    display: flex;
    padding: 100px 0;
}
.about-paragrap2{
    margin: 20% 20px;
}
.about-paragrap2 h4{
    font-size: 30px;
    font-family: 'Jost', sans-serif;
    color: black;
    font-weight: 600;
   
}
.about-paragrap2 p{
    
    font-size: 16px;
    padding: 10px 0;
    font-size: 400;
    width: 550px;
}
.about-img2{}
.about-img2 img{
    width: 100%;
}
