
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Lato:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,600&family=Source+Code+Pro:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Lato:wght@400;700;900&family=Roboto:wght@300;400;500&display=swap');
.baner-main{
    background-color: #EBFDFF;
}
.baner-flex{
    display: flex;
    padding: 170px 10px;


}
.baner-content{}
.baner{
    width: 100%;
}
.baner h1{
    font-size: 70px;
    font-family: 'Jost', sans-serif;
    font-weight:400;
    margin-top: 60px;
    margin-bottom: 20px;
    width: 600px;
    letter-spacing: 3px;
}
.baner .get{
   font-size: 28px;
   font-weight: 400;
   margin-top: 40px;
  
   
}
.baner .get a{ 
  color: black;

}

.baner-img{}
.biker-img{}
.biker-img img{
    width: 550px;
    margin-top: 72px;
    margin-bottom: 80px;
}

/* baner section end */


/* Golobal Section start */

.Golobal-section{
    padding: 140px 0;
}
.golobal-flex{
    display: flex;
    justify-content: space-between;
}
.golobal-artecal{
    margin-top: 50px;
    
}
.golobal-artecal h3{
    font-size: 65px;
    font-family: 'Jost', sans-serif;
}
.golobal-artecal h4{
    font-size: 26px;
    line-height: 60px;
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}
.golobal-artecal button{
    padding: 18px 40px;
    border-color: #3AC5CE;
    color: #3AC5CE;
    font-size: 18px;
    border-radius: 32px;
    outline: none;
    transition: all 0.3s ease-in-out;
    border: none;
    border:  1px solid #3AC5CE;
}
.golobal-artecal button:hover{
    background-color: #3AC5CE;
    color: white;
}
.golobal-artecal-2{
    
}
.golobal-artecal-colem{
    margin-top: 20px;
    background-color: #F8F8F8;
    border: 1px solid rgb(225, 225, 225);
    padding: 20px 30px;
    transition: all 0.5s ease-in;

}

.golobal-artecal-colem h5{
    font-family: 'Jost', sans-serif;
    margin: 10px 0 14px 0;
    font-weight: 600;

}
.golobal-artecal-colem p{
    
}

.golobal-artecal-colem:hover{
    background-color: #3AC5CE;
    color: white;
    border: 1px solid rgba(255, 0, 0, 0.577);
    border-radius: 10px;
}



/* Golobal section end */


/* Artecal section start */


.artecal-section{
    padding: 60px ;
}
.artecal-title h1{
    text-align: center;
    padding: 10px 0 100px 0;
    font-size: 72px;
    font-weight: 400;
}
.last-artecil-flex{
    display: flex;
    justify-content: space-between;
}
.artecal-1{}
.artecal-1 img{
    width: 410px;
}
.artecal-text{
   background-color:#F8F8F8 ;
   padding: 50px 52px;
   width: 410px;
   transition: all 0.4s ease-in-out;
}
.artecal-text:hover{
    background-color: #DAF0F1;
}
.artecal-text h3{
   margin-bottom: 12px;
    font-size: 24px;
    font-family: 'Jost', sans-serif;
}
.artecal-text p{
    width: 340px;
    
}
.artecal-text a{
    margin-top: 20px;
   
   
}

.button-blog-artecal{
  margin-top:100px;
   
}
.button-blog-artecal button{
    padding: 20px 42px;
    border-radius: 30px;
    color: white;
    font-size: 18px;
    background-color: #0a3d62;
    transition: all 0.3s ease-in-out;
    outline: none;
    border: none;
}
.button-blog-artecal button:hover{
    background-color:#3AC5CE ;
}
/* Artecal section end */



/* price section start */

.price-section{
    padding: 20px 0 40px 0;
}
.price-titel{
    padding: 80px 0;

}
.price-titel h1{
    text-align: center;
    font-size: 70px;
    font-family: 'Jost', sans-serif;
    color: #083C3E;
}
.price-flex{
    display: flex;
    justify-content: space-between;
}
.price-content{
    border: 2px solid #0a3d62;
    width: 300px;
   height: 700px;
    padding: 30px 60px;
    

}

/* price content ----2 */


.price-content-2{
    border: 2px solid #0a3d62;
    width: 300px;
   height: 700px;
    padding: 30px 60px;
    background-color: #083C3E;
}
.price-content-2 h4{
    text-align: center;
    margin: 40px 10px;
    font-weight: 400;
    font-size: 18px;
    color: white;
}
.price-content-2 h1{
    text-align: center;
    padding: 5px 0 28px 0;
    font-size: 50px;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    color: white;
}
.price-content-2 p{
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    color:white;
    
}

.price-content-2 .price-tick{
    margin-right: 8px;
   
}
/* price content ----2 */



.price-content h4{
    text-align: center;
    margin: 40px 10px;
    font-weight: 400;
    font-size: 18px;
}
.price-content h1{
    text-align: center;
    padding: 5px 0 28px 0;
    font-size: 50px;
    font-family: 'Jost', sans-serif;
    font-weight: 600;
}
.price-content p{
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    
}
.price-content p span{}
.price-content .price-tick{
    margin-right: 8px;
   
}
.price-button button{
   margin: 150px 0;
   padding: 12px 30px;
   border-radius: 32px;
   font-size: 18px;
   background-color: #083C3E;
   outline: none;
   border: none;
   color: white;
   transition: all 0.3s ease-in-out;
}
.price-button2 button{
    margin: 100px 0;
    padding: 12px 30px;
   border-radius: 32px;
   font-size: 18px;
   background-color: white;
   outline: none;
   border: none;
   color:#083C3E;
   transition: all 0.3s ease-in-out;
}
.price-button3 button{
    margin: 95px 0;
    padding: 12px 30px;
   border-radius: 32px;
   font-size: 18px;
   background-color: #083C3E;
   color: white;
   outline: none;
   border: none;
   transition: all 0.3s ease-in-out;
}
.price-button4 button{
    margin: 50px 0;
    padding: 12px 30px;
   border-radius: 32px;
   font-size: 18px;
   background-color: #083C3E;
   color: white; 
   transition: all 0.3s ease-in-out;
   outline: none;
   border: none;
}


/* Price Button hover */


.price-button button:hover{
    background-color: #3AC5CE;
}
.price-button2 button:hover{
    background-color: #EBFDFF;
}
.price-button3 button:hover{
    background-color: #3AC5CE;
}
.price-button4 button:hover{
    background-color: #3AC5CE;
}

 
/* price SEction end */


/* Clint Section Start */


.clint-section{
    padding: 30px 0 50px 0;
}
.clint-flex{
    display: flex;
}

.clint-1-img{
    
}
.clint h1{
    font-size: 20px;
    
}
.clint p{
    font-size: 16px;
    
    
}
.img-name-flex{
    display: flex;
    border: 1px solid #083C3E;
    background-color: #F8F8F8;
    margin: 50px 20px;
    padding: 24px 30px;
    justify-content:space-around;
}
.Clint-say{
    font-size: 55px;
    color: #083C3E;
    font-family: 'Roboto', sans-serif;
    padding: 100px 0 30px 0;
}

/* clint section End  */


.sheping-secton{
    padding: 160px 0;
}
.Book-sheping{}
.sheping-flex{
    display: flex;
  
}
.sheping-time{
    background-color: #DAF0F1;
    padding: 80px 100px;
}
.customer-time{
    padding: 19px 40px;
}
.customer-time h5{
    font-size: 65px;
    font-family: 'Jost', sans-serif;
    
}
.customer-time p{
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}
.sheping-reg{
    background-color: #3AC5CE;
    padding:100px 130px;
}
.sheping-reg h1{
    font-size: 70px;
    font-family: 'Jost', sans-serif;
    text-align: center;
    margin-bottom: 30px;
    color: white;
}
.sheping-reg h5{
    font-size: 24px;
    text-align: center;
    padding: 20px 0;
    color: white;
}
.shiping-button{
    padding: 48px 0;
}

.shiping-button button{
    padding: 24px 40px;
    border-radius: 40px;
    outline: none;
    border: none;
    border-color: white;
    border: 1px solid white;
    color: #3AC5CE;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
}
.shiping-button button:hover{
    background-color: #3AC5CE;
    color: white;
    
    
}